<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Want a new look? Try it out now!</h2>
                <p>Our app is available on Android (iOS coming soon). Download now to get started!</p>
                <div class="badges">
                    <!-- The app has not yet been published to Play Store or App Store -->
                    <!-- So we'll just put a direct link to download it instead (from GitHub) -->
                    <!-- <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a> -->
                    <a
                        class="badge-link"
                        href="https://github.com/HairdressingProject/styleme/releases/download/v1.0.1/styleme.apk" 
                        alt="Download the app" 
                        title="Download the app">
                        <img src="/img/download.svg" alt="Download the app">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
