<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Style Me is an Android app that enables users to apply different hair colours and hair styles to their pictures.</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Try it now for Free!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup galaxy_s5 portrait black">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="https://camo.githubusercontent.com/510233523d8bb705d9ff13a771d740a3d7a6fd4c8a64333097e9787f0a87b9de/68747470733a2f2f66696c65732e636174626f782e6d6f652f7538777834742e676966" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
